/* header */
.header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  border-bottom: 1px solid #e3e3e3;
}

.logo img {
  width: 60%;
  margin: 5px 10px;
}

/* friend list */
.friend-list{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 5px;
  background: #fcfcfc;
}
.friend-list .avatar{
  background: #fcfcfc;
}
.add-button img{
  width: 55px !important;
  height: 55px !important;
  padding: 2px 5px;
}
.add-button{
  margin: 0 !important;
}
.friend-list::-webkit-scrollbar { 
  display: none; 
}


/* request list */
.divider p{
  font-size: 12px;
  margin: 0;
  padding: 5px 10px;
  color: #292927;
  font-weight: bold;
  border-top: 1px solid #e3e3e3;
}
.request {
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 2fr 1fr;
}

.avatar {
  margin: 10px;
  display: inline-block;
  position: relative;
}

.avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-status {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  right: 1px;
  border-radius: 50px;
}

.avatar-status.inactive {
  background: #e0705f;
}

.avatar-status.active {
  background: #a0e86d;
  ;
}

.setting img {
  width: 70%;
}

.setting {
  display: inline-flex;
  margin: 13px 0px;
}

.info .name {
  margin-top: 15px;
  font-weight: bold;
}

.info .text {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.info p {
  margin: 0px
}

.title {
  text-align: center;
}

.title h1 {
  margin: 10px 0px;
  font-size: 20px;
}

.action h1 {
  margin: 5px 10px;
}

.action-buttons {
  display: inline-flex;
}

.action-buttons div {
  font-size: 10px;
  width: 100%;
  text-align: center;
  margin: 0px 5px;
  padding: 1px 5px;
  color: white;
  font-weight: bolder;
}

.now {
  background: #e0705f;
}

.schedule {
  background: #87aec8;
}


/* footer*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid #e3e3e3;
  height: 40px;
  font-size: 12px;
}

.footer p {
  margin: 10px;
  text-align: center;
  color: grey;
}
