.header {
    border-bottom: 1px solid #e3e3e3;
    font-family: sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    cursor: pointer;
}
body::-webkit-scrollbar {
    display: none;
}
.header h2{
    margin: 10px;
}

.post {
    border: 1px solid #e3e3e3;
    margin: 10px;
    cursor: pointer;
}
.post-info{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.post-list {
    margin-top: 20px;
}

.author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto;
}

.author img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.title p {
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 10px 0px;
}

body {
    margin: 0px;
}

.tags {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 60px;
}

.tags::-webkit-scrollbar {
    display: none;
}

.tag p {
    margin: 0;
}
.tag{
    margin: 5px;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.post .tag{
    font-size: 10px;
    padding: 3px;
}

.post .tags{
    margin: 5px;
}